.dashboard{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.object{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2%;
}

.table{
    width: 80%;
    margin: auto;
}